.git
.env
.env.*
node_modules
vendor
public/build
public/hot
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
database/database.sqlite
tests
.phpunit.cache
docs
School System Development Plan.pdf
